body {
    margin: 0;
    
    /* background-color: blue; */
}

.container {
    /* background-color: aqua; */
    
    margin: 0 auto;
    padding: 65px 0;
    width: 1000px;
    
    display: flex;
    flex-direction: column;
    
}

nav {
    width: 100%;
    margin: 0 auto 55px;

    /* background-color: aqua; */

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;

    font-family: 'Open Sans';
}

a {
    margin: 0;
    color: #1F1534;
    text-decoration: none;
}

div{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

img {
    width: 250px;
    height: 200px;
    margin: 0;
}

h1 {
    font-family: 'Inter';
    font-size: 32px;
    color: #3f3d56;
    line-height: 40px;
}

#destino {
    color:  #ee24ff;
}

strong {
    font-weight: 800;
}

p {
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #828282;
}

.rodape {
    border-top: 2px #ee24ff solid;
    margin: auto;
}

footer {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer p {
    color: #3f3d56;
    margin: 5px auto;
}

#bolas {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#bolas img {
    width: 50px;
    height: 50px;
}